<html>
<title></title>
<% include partials/cdn.ejs %>
    <style>
        .forfade {
            visibility: hidden;
        }
        
        .forfade2 {
            background-color: azure;
        }
    </style>

    <body>
        <h1>Food List</h1>
        <!-- show data -->
        <div class="container">
            <div class="row">
                <%if(locals.foodData){%>
                    <%for(var list in locals.foodData){%>
                        <div class="col-sm">
                            <!-- <p style=" background-color: lightyellow; "><%= foodData %></p> -->
                            <div class="card" style="width: 18rem; border: 1px solid black;">
                                <img src="/images/foods/<%=foodData[list].img%>" class="card-img-top" width="100" height="250" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=foodData[list].foodName%>
                                    </h5>
                                    <p class="card-text">
                                        <%=foodData[list].price%>
                                    </p>
                                    <p class="card-text">
                                        <%=foodData[list].desc%>
                                    </p>
                                    <hr style="background-color: orangered;" />
                                    <div class="row float-left">
                                        <a href="/food/buy/<%=foodData[list].foodName%>" class="btn btn-success">buy</a>&nbsp&nbsp
                                    </div>
                                    <%if(session.usernameSession){%>
                                        <div class="row float-right">
                                            <a href="/food/editform/<%=foodData[list]._id%>" class="btn btn-warning">Edit</a>&nbsp&nbsp
                                            <a href="/food/deletefood/<%=foodData[list]._id%>" onclick="return confirm('do you want to delete this?')" class="btn btn-danger">Delete</a>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>
                        <%}%><br />
            </div>

            <br />
        </div>
        <br />

        <!-- upload data -->
        <%if(session.usernameSession){%>
            <div class="container">
                <button class="btn btn-block btn-info" id="uploadFoodBtn">
                        Upload Food
                    </button>
            </div>
            <div id="uploadfood" class="container shadow p-3 mb-5 rounded" style="
        background-color: lightsalmon;
        border-radius: 5px;
        border: 1px solid black;
      ">
                <h1>Upload Food</h1>
                <br />
                <form action="/food/uploadfood/" method="POST" class="form-group" enctype="multipart/form-data">
                    Food name :
                    <input type="text" name="foodName" id="foodName" class="form-control" /><br /> Price :
                    <input type="text" name="price" id="price" class="form-control" /><br /> Description :
                    <input type="text" name="desc" id="desc" class="form-control" /><br /> Image :
                    <input type="file" name="food_img" id="food_img" class="form-control" /><br />
                    <button type="submit" class="btn btn-block btn-success">upload</button>
                </form>
            </div>
            <%}%>
                <div class="container">
                    <a href="/page1" class="btn btn-block btn-danger">Back</a>
                </div>
                <%}%>
                    <!-- update data -->
                    <%if(locals.status == "edit" && locals.data_edit){%>
                        <div class="container" id="base_data">
                            <form action="/food/updated" class="form-group" method="POST">
                                <input type="hidden" name="food_id" id="food_id" value="<%=data_edit._id%>" />

                                <img src="/images/foods/<%= data_edit.img %>" id="imgfood" width="500" height="450" /><br /><br />

                                <input type="text" name="foodName" id="foodName" value="<%= data_edit.foodName %>" class="form-control" /><br />
                                <input type="text" name="price" id="price" value="<%= data_edit.price %>" class="form-control" /><br />
                                <input type="text" name="desc" id="desc" value="<%= data_edit.desc %>" class="form-control" /><br />
                                <input type="hidden" name="img" id="img" value="<%=data_edit.img%>" />
                                <!-- <input type="file" name="food_img" id="food_img" class="form-control"><br> มันส่ง null ไม่ได้ เดี๋ยวลองใช้ multer-->
                                <button type="submit" class="btn btn-success">edit</button>
                            </form>
                        </div>
                        <a href="/food" class="btn btn-danger btn-block">BACK</a><br />
                        <!-- update image -->
                        <div id="forfade" class="forfade forfade2 container">
                            <button id="close" class="float-right btn btn-warning">close this</button>
                            <form action="/food/updateFoodImage" class="form-group" method="POST" enctype="multipart/form-data" runat="server">
                                <img id="blah" src="#" alt="your image" width="250" height="250" />
                                <input type="hidden" name="food_id" id="food_id" value="<%=data_edit._id%>" />
                                <input type="file" name="img_update" id="img_update" onchange="readURL(this);" /><br />
                                <button class="btn btn-success float-right">update image</button>
                            </form>
                        </div>
                        <%}%>
                            <!-- Buy Food -->
                            <%if(locals.status=="buy" && locals.buyData){%>
                                <div class="container">
                                    <form action="/food/bought" class="form-group" method="POST">
                                        <img src="/images/foods/<%= buyData.img %>" id="imgfood" width="500" height="450" /><br /><br />
                                        <div class="container row">
                                            <h3>
                                                <%=buyData.foodName%>
                                                    <%=buyData.price%>


                                            </h3>
                                        </div>

                                        </p>
                                </div>
                                <br />
                                <input type="hidden" name="foodName" id="foodName" value="<%= buyData.foodName %>" />
                                <input type="hidden" name="Foodprice" id="Foodprice" value="<%= buyData.price %>" />
                                <input type="hidden" name="FoodId" id="FoodId" value="<%= buyData._id %>" />

                                <div class="container">
                                    <label for="amount">amount</label><br>
                                    <input class="form-control" type="text" name="amount" id="amount" maxlength="3" placeholder="amount" style="width: 20%;" />
                                    <label for="price">price</label><br>
                                    <input class="form-control" type="text" name="total" id="total" placeholder="total" style="width: 20%;" readonly/>
                                </div>
                                <br />
                                <div class="container">
                                    <p>Add Ingredien</p>
                                    <div class="container">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Cheese" name="addIng" id="Cheese" />
                                            <label class="form-check-label" for="Cheese">
                                    Cheese
                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="Suagsage" name="addIng" id="suasage" />
                                            <label class="form-check-label" for="suasage">
                                    Suagsage
                                </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="pizzasuace" name="addIng" id="pizzasuace" />
                                            <label class="form-check-label" for="pizzasuace">
                                    Pizza Sauce
                                </label>
                                        </div>
                                        <br />
                                        <button type="submit" class="btn btn-warning" onclick="return confirm('confirm order?')">
                                Confirm
                            </button>
                                    </div>
                                </div>
                                </form>
                                </div>
                                <div class="container">
                                    <a href="/food" class="btn btn-block btn-danger">BACK</a>
                                </div>
                                <%}%>
                                    <script>
                                        $(document).ready(() => {
                                            $("#imgfood").click((event) => {
                                                $("#base_data").slideToggle(1000);
                                                $("#forfade").removeClass("forfade");
                                                $("#forfade").fadeIn(3000);
                                            });
                                            $("#uploadfood").hide();
                                            $("#uploadFoodBtn").click((event) => {
                                                $("#uploadfood").slideToggle(2000);
                                            });
                                            $("#close").click((event) => {
                                                $("#base_data").slideToggle(1000);
                                                $("#forfade").addClass("forfade");
                                            });
                                            $("#amount").keyup((event) => {
                                                let amount = document.getElementById("amount").value
                                                let foodPrice = document.getElementById("Foodprice").value

                                                let totalPrice = (amount * foodPrice)
                                                document.getElementById("total").value = totalPrice
                                            })
                                        });
                                    </script>
                                    <script type="text/javascript">
                                        function readURL(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();

                                                reader.onload = function(e) {
                                                    $("#blah").attr("src", e.target.result);
                                                };

                                                reader.readAsDataURL(input.files[0]);
                                            }
                                        }
                                    </script>
    </body>

</html>